<html>
	<head>
		<title>Solevl</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="http://www.domain.com/favicon.ico" type="image/x-icon" />

		<link rel="stylesheet" href="/stylesheets/main.css" />
		<link rel="stylesheet" href="/stylesheets/snake.css" />
		 
	</head>
	<body>

	<header id="header" class="alt">
		<h1><strong><a href="sol.html">solevl</a></strong></h1>
		<nav id="nav">
			<ul>
				<li><a href="sol.html">Home</a></li>
				<li><a href="/users">Projects</a></li>
				<li><a href="threads.html">Threads</a></li>

				<li>
					<a href="#">Products &#9662;</a>
					<!--<ul class="dropdown">
                        <li><a href="privacy.html">Laptops</a></li>
                        <li><a href="#">Monitors</a></li>
                        <li><a href="#">Printers</a></li>
                    </ul>-->
				</li>
				<li><a href="privacy.html">Privacy Policy</a></li>
			</ul>
		</nav>
	</header>


<div class="score">0</div>
<div class="stage"></div>
	<script src="/javascripts/snake.js" type='text/javascript'></script>
	
	</body>
</html>